* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #2b2a8f;
  color: #fff;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.sidebar-title {
  margin: 20px 0;
  font-weight: bold;
  font-size: 26px;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 5px;
  transition: 0.3s;
  font-weight: bold;
  font-size: 20px;
}

.menu a img {
  width: 50px;
  height: 50px;
  transition: filter 0.3s;
}

.menu a.active,
.menu a:hover {
  background: white;
  color: #4D38D7;
}

.menu a:hover img,
.menu a.active img {
  filter: brightness(0) saturate(100%) invert(20%) sepia(80%) saturate(2600%) hue-rotate(235deg) brightness(90%) contrast(100%);
}

/* Content */
.content {
  flex: 1;
  background: #f9f9f9;
  padding: 30px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.topbar input {
  width: 300px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.topbar .icons a img {
  width: 35px;
  height: 35px;
  margin-left: 15px;
}

/* Контент справа */
.content {
  padding: 30px;
}

/* Поиск */
.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 250px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.search-bar .search-btn {
  margin-left: -35px;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
}

/* Заголовок */
.page-title {
  font-size: 22px;
  font-weight: 700;
  color: #4D38D7;
  margin-bottom: 20px;
}

/* Таблица */
.table-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container tr {
  border-bottom: 1px solid #eee;
}

.table-container td {
  padding: 15px;
  font-size: 16px;
}

.edit-btn {
  padding: 6px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f9f9f9;
  cursor: pointer;
  transition: 0.3s;
}

.edit-btn:hover {
  background: #4D38D7;
  color: #fff;
  border-color: #4D38D7;
}
